p.blocktext
{         
          margin-left: auto;
          margin-right: auto;
          width: 36em;
          font-size: 16pt;
		  font-arial: broadway;
		  font-weight:bold;	  
}

#nav {
width:600px;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; }